<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="fhir-portal.ZPM">
    <Module>
      <Name>fhir-portal</Name>
      <Version>1.0.4</Version>
      <Description>Patient Chart using FHIR capabilities in IRIS For Health</Description>
      <Keywords>fhir,patient,chart,jquery,iris4health</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="diashenrique.fhir.portal.PKG"/>
    </Module>
  </Document>
</Export>